<template>
  <div id="app">
    <img src="./assets/logo.png">
    <router-view/>
  </div>
</template>

<script>
import firebase from 'firebase'
import 'firebase/firestore'
var firebaseConfig = {
    apiKey: "AIzaSyAprFtyanfzHPj2fJPL4SP18XbsbPiZk1A",
    authDomain: "testingsomeshit-7d7e8.firebaseapp.com",
    databaseURL: "https://testingsomeshit-7d7e8.firebaseio.com",
    projectId: "testingsomeshit-7d7e8",
    storageBucket: "testingsomeshit-7d7e8.appspot.com",
    messagingSenderId: "174388347586"
  };

var theFrb = firebase.initializeApp(firebaseConfig)
var Fdbase = theFrb.firestore()

export default {
  name: 'app',
  created () {
    Fdbase.doc('user/lol').get()
        .then(querySnapshot => {
          console.warn(querySnapshot.data())
        })
        .catch(err => console.log(err));
    }

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
